@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700,1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: #FF6500;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;

}

.container {
  width: 100%;
  height: 2200px;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
}

.site-logo {
  background-image: url(logowhite.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 40px;
}

header {
  z-index: 2;
}

.header {
  font-family: 'Clash Display', sans-serif;
  padding-top: 200px;
  padding-left: 80px;
  display: block;
  font-size: 80px;
  font-weight: 600;
  text-align: left;
  color: rgb(255, 255, 255);
}

.header-sub {
  padding-left: 80px;
  padding-top: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.header-sub-term {
  padding-left: 80px;
  padding-top: 10px;
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  opacity: 0.7;
}

.menu-toggle {
  display: flex;
  flex-direction: row;
}

.menu-btn {
  margin-top: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 120px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10000;
  border-radius: 50px;
  background: none;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  transition: ease-out 0.5s ;
  border: 1px solid;
  border-color: #fff;
}

.menu-btn:hover{
  color: #FF6500;
  box-shadow: inset 290px 0 0 0 #fff ;
  opacity: 0.8;
  border: 1px solid;
  border-color: #fff;
}

#menu-toggle-btn {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10000;
  border-radius: 50%;
  background: none;
  border-color: #fff;
  border: 1px solid #fff;
}

#menu-toggle-btn:hover {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10000;
  border-radius: 50%;
  background: transparent ;
}

span {
  height: 4px;
  background: #fff;
  width: 24px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transition: all 0.3s;
}

span::before {
  padding-top: 1px;
  content: " ";
  position: absolute;
  display: inline-block;
  height: 2px;
  background: #fff;
  transform: translateY(-4px);
  width: 24px;
  transition: all 0.3s;
}

span:hover {
    height: 4px;
    background: #fff; 
}
  
 span::before :hover {
    background: #fff;
}

span::before {
  top: -2px;
}

.active span {
  transform: rotate(45deg);
  background: #fff;
}

.active span::before {
  top: unset;
  transform: rotate(-90deg);
  background: #fff;
}

.active:hover span::before {
  top: unset;
  background: #fff;
}

.active:hover span {
    background: #fff;
  }

#nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  transition: all 0.3s;
  display: flex;
  visibility: hidden;
  overflow: auto;
  overflow-x: hidden;
  z-index: 50;
}


.nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 80px;
  padding: 20px 20px;
}

.nav-logo {
  font-weight: 600;
  margin-top: -0.2em;
  font-size: 2.7em;
}

.nav-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.crypto-giftcard-efund {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.nav-img-crypto {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  background-image: url(cryptocard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-img-giftcard {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  background-image: url(giftcardcard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-img-efund {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  background-image: url(efundcard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-img-otc {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  background-image: url(otccard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-img-privacy {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  background-image: url(privacycard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-img-security {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  background-image: url(securitycard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-socials {
  display: block;
}

.nav-socials a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: 30%;
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
  color: #dbdada77;
  width: max-content;
}

.nav-link a {
  top: 60px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 30px;
}

.nav-link a:hover {
  top: 60px;
  text-decoration: none;
  color: rgb(206, 205, 205);
  margin-bottom: 20px;
}

.nav-item-wrapper:after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 500px;
  height: 60px;
  margin: 0 auto;
  transition: 1s;
}

.nav-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
}

.nav-footer a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 0 1em;
}

.nav-col {
  display: block;
  padding: 10%;
  width: max-content;
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16%;
  margin-top: -10%;
}

.nav-contact {
  margin-top: 20px;
}

.nav-pc {
  display: block;
}

.nav-mobile {
  display: none;
}

.hero1-pc {
  display: block;
}

.hero1-mobile {
  display: none;
}

.hero2-pc {
  display: block;
  position: relative;
  top: 38%;
  left: 50%;
}

.hero2-mobile {
  display: none;
}


.social-links a{
  padding: 10px;
  display: inline-block;
  height: 40px;
  width: 60px;
  padding: 20px;
  text-align: center;
  line-height: -70px;
  border-radius: 50%;
  transition: all 0.5s ease;
  width: fit-content;
}



@media (max-width: 900px) {
  
  
  .nav {
    display: block;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 5px;
  }

  .nav-socials {
    display: block;
    margin-top: 4em;
  }

  .nav-socials a {
    padding: 0 0.4em;
  }

  .nav-footer {
    display: none;
  }
}


@media (max-width: 480px) {

  body{
  }

    #nav-container {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.76);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(10px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        transition: all 0.3s;
        display: flex;
        visibility: hidden;
        overflow: scroll;
      }

  
  .nav {
    display: block;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 5px;
  }

  .nav-mobile {
    display: block;
  }

  .nav-pc {
    display: none;
  }

  .nav-logo {
    font-weight: 600;
    font-size: 1.5em;
    
  }

  .nav-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  
  .menu-btn {
    display: none;
  }

  .nav-socials {
  }

  .nav-socials a {
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-img-crypto {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    background-image: url(cryptocard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav-img-giftcard {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    background-image: url(giftcardcard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav-img-efund {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    background-image: url(efundcard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav-img-otc {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    background-image: url(otccard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav-img-privacy {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    background-image: url(privacycard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav-img-security {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    background-image: url(securitycard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .crypto-giftcard-efund {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
  }

  .nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -10%;
  }

  .nav-col {
    display: block;
    padding: 20px;
    width: max-content;
  }

  .nav-logo {
    font-weight: 600;
    margin-top: -0.1em;
    text-align: center;
    font-size: 1.4em;
  }

  .navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    margin-top: -10px;
  }

  .header {
    font-family: 'Clash Display', sans-serif;
    position: relative;
    display: grid;
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-left: -20%;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .header-sub {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -20%;
    width: 95%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  
  .header-sub-term {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -20%;
    width: 90%;
    padding-top: 10px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    opacity: 0.7;
  }

  .container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
}

  .hero1-pc {
    display: none;
  }

  .hero1-mobile {
    display: grid;
    place-items: center;
  }

  .hero2-pc {
    display: none;
  }

  .hero2-mobile {
    position: relative;
    display: grid;
    place-items: center;
    top: 600px;
  }

  .hero1-mobile-btn {
    margin: 10px;
    margin-right: 5px;
    display: grid;
    place-items: center;
    text-align: center;
    height: 60px;
    width: 130px;
    transition: all 0.3s;
    border-radius: 50px;
    background: none;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    transition: ease-out 0.5s ;
    text-decoration: none;
    border: #fff 1px solid;

  }

  
  .hero1-mobile-btn:hover{
    color: #FF6500;
    background: #fff;
    opacity: 0.8;
    box-shadow: inset 290px 0 0 0 #fff ;
  }

  .otcmobilechannel {
    display: flex;
  }
  
  .foot-card {
    display: block;
    width: fit-content;
    margin: 15px;
  }

  .nav-link {
    display: flex;
  }
}